.screen {
  width: 100%;
  height: 20px;
  background: #4388cc;
  color: #fff;
  line-height: 20px;
  font-size: 15px;
}
.smallBox::before {
  content: ".";
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 20px;
}
.greenBox::before {
  content: "";
  background: Green;
}
.redBox::before {
  content: "";
  background: Red;
}
.emptyBox::before {
  content: "";
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ccc;
}
table {
  text-align: center;
}
input[type="checkbox"] {
  width: 10px;
  margin-right: 18px;
}
input[type="checkbox"]:before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3),
    0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  background-color: #ccc;
}
input[type="checkbox"]:checked:before {
  background-color: Green;
  font-size: 15px;
}
.counter {
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 4%;
  background-color: wheat;
}
.ticket-select {
  align-items: center;
}
button {
  padding: 5px;
  font-size: 20px;
}
.table-margin {
  margin-top: 2em;
}
.display-msg {
  margin-right: 10em;
}
