.show-details-table {
  border-collapse: collapse;
  width: 90%;
  background-color: gray;
  margin-bottom: 20px;
}

.show-details-table th,
td {
  padding: 5px;
  padding-top: 22px;
  border-bottom: 1px solid #ddd;
  color: white;
  font-size: 20px;
}

.show-details-table tr:hover {
  background-color: brown;
}

.book-btn {
  float: right;
  width: 100px;
  grid-column: 1;
  height: 60px;
}

.small-img {
  height: 300px;
  width: 200px;
}

.display-msg{
  color: white;
  padding: .5em;
  margin-top: 2em;
  font-size: 1.5em;
  background-color: gray;
  width: 60%;
}