h2:after,
.cards .card figcaption {
  position: absolute;
}
h2,
h2 strong,
.cards .card {
  position: relative;
}
.cards {
  display: flex;
}
body {
  background: black;
  font-family: "Alegreya";
  font-weight: bold;
}
.wrapper {
  padding: 15px;  
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}
h2 strong {
  z-index: 2;
  background: black;
  padding: 4px 8px;
}
h2:after {
  content: "";
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.cards {
  flex-flow: row wrap;
  margin: 4em;
  margin-top: 0em;
}
.cards .card {
  margin: 20px;
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px gray;
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}
.cards .card:after {
  content: "";
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(
    to top,
    transparent,
    #fff 15%,
    rgba(255, 255, 255, 0.5)
  );
  transition: 0.3s;
}
.cards .card:hover,
.cards .card:focus,
.cards .card:active {
  box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
  cursor: pointer;
}
.cards .card:hover figcaption,
.cards .card:focus figcaption,
.cards .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.cards .card:focus:after,
.cards .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
button {
  background-color: maroon;
  margin:10px;
  color: white;
  text-align: center;
  width: 8em;
  height: 2em;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color:gray;
}
