.ticket-details-container {
  padding: 15px;
}
.ticket-details {
  border-collapse: collapse;
  width: 60%;
  background-color: gray;
  margin-bottom: 20px;
  border: 2px solid maroon;
  margin-left: 20%;
}
.text-white {
  color: white;
  text-align: center;
}
td img {
  height: 300px;
}
.ok-btn {
  margin-left: 40%;
}
