.player-wrapper {
  position: static;
  padding-top: 56.25%;
  width: auto;
  height: auto;
}
.react-player {
  position: absolute;
  top: 10px;
  right: 20%;
}
.react-player button {
  background-color: gray;
  font-size: 28px;
  cursor: pointer;
  padding: 15px 20px;
  color: wheat;
  border-radius: 50%;
}
.poster {
  top: 10px;
  z-index: 50px;
}
.movie-name {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
.text-large-white {
  color: white;  
  font-style: italic;
  font-size: large;
}
.text-large-white .bold {
  font-weight: bold;
}

