.react-player {
  position: absolute;
  top: 15%;
  right: 20%;
}
.play-btn {
  background-color:transparent;
  font-size: 28px;
  cursor: pointer;
  color: wheat;
  border-radius: 50%;
  position: absolute;
  top: 39%;
  right: 47%;
  width: 2em;
}
.poster {
  top: 10px;
  z-index: 50px;
}
.movie-name {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}
.text-large-white {
  color: white;
  font-style: italic;
  font-size: large;
}
.text-large-white .bold {
  font-weight: bold;
}
