.select-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 10em;
}
select {
  grid-column: 0;
  background-color: #44bba4;
  color: white;
  padding: 1em;
  cursor: pointer;
}
.book-ticket-container {
  color: white;
  text-align: center;
}
