.select-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 10em;
}
.select-date {
  grid-column: 0;
}
.book-ticket-container{
  color: white;
  text-align: center;
 }