.show-details-table {
  border-collapse: collapse;
  width: 90%;
  background-color:maroon;
  margin-bottom: 20px;
}

.show-details-table th,
td {
  padding: 5px;
  padding-top: 22px;
  border-bottom: 1px solid #ddd;
  color: white;
  font-size: 20px;
}

.book-btn {
  float: right;
  width: 100px;
  grid-column: 1;
  height: 60px;
}
