.container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1em;
  margin-top: 1em;  
  color: white;
  font-weight: 200;
}
.details {
  background-image: url("../../images/paymentBG.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 300px;
  width: 500px;
}
.details-container{
  
}
