form {
  padding: 1.5em;
  border-radius: 1em;
  margin: 1em;
  margin-top: 2em;
  background-color: gray;
  width: 50%;
}
form div {
  width: auto;
}
input[type="text"],
textarea {
  width: 300px;
  padding: 5px 10px;
  margin: 4px 0;
  box-sizing: border-box;
  background-color: lightpink;
  border: 2px solid maroon;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 100px;
  margin-top: 6px;
}
.validation {
  padding: 12px 12px 12px 0;
  display: inline-block;
  width: 200px;
  margin-top: 6px;
  color: red;
  font-style: italic;
}
input[type="submit"] {
  background-color: maroon;
  margin: 10px;
  color: white;
  text-align: center;
  width: 18em;
  height: 2em;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
input[type="submit"]:hover {
  background-color: gray;
  border: 2px solid maroon;
}
.info-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
  color: blue;
  background-color: cornflowerblue;
  font-size: 2em;
}