footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: maroon;
  color: white;
  text-align: center;
  padding: 15px;
}
.footer-container {
  padding: 25px 50px;
}

a.footer {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.footer:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}
